//? BASE ====================================================================================================//

// font-weight Устанавливает насыщенность шрифта ===============//

//100 - thin
//200 - UltraLite
//300 - lite
//400 - normal
//500 - medium
//600 - semibold
//700 - bold
//800 - Heavy
//900 - black

//Шрифты, встроенные в Windows ===============//

//Times New Roman
//Georgia
//Arial
//Arial Black
//Tahoma
//Verdana
//Trebuchet MS
//Lucida Sans Unicode
//Impact
//Comic Sans MS
//Courier New
//Lucida Console

// font-style ===============//

//font-style: Определяет начертание шрифта — обычное, курсивное или наклонное.
//	normal - Обычное начертание текста.
//	italic - Курсивное начертание. 
//	oblique - Наклонное начертание. Курсив и наклонный шрифт при всей их похожести не одно и то же.
//	Курсив это специальный шрифт имитирующий рукописный, наклонный же образуется путем наклона обычных знаков вправо.


// text-transform ===============//

//text-transform  Управляет преобразованием текста в заглавные или прописные символы.
//	capitalize  - Первый символ каждого слова в предложении будет заглавным. Остальные символы свой вид не меняют.
//	lowercase -   Все символы текста становятся строчными (нижний регистр). 
//	uppercase -   Все символы текста становятся прописными (верхний регистр).
//	none -        Не меняет регистр символов.

//text-indent Устанавливает величину отступа первой строки блока текста. Применяется, если нам нужно создать что-то типа красной строки.
//word-spacing Устанавливает интервал между словами.

//white-space Управляет свойствами пробелов между словами. Пименяется в основном со значением 
//	nowrap которое запрещает перенос строки. Таким образом весь текст отображается в одну строку и не ломается.  
//	normal вернет все как было.


// box-sizing ===============//

//Применяется для изменения алгоритма расчета ширины и высоты элемента. 
//Свойство наследуется.
//content-box - Основывается на стандартах CSS, при этом свойства width и height задают ширину и высоту контента и не включают в себя значения отступов, полей и границ.
//border-box -  Свойства width и height включают в себя значения полей и границ, но не отступов (margin). Эта модель используется браузером Internet Exporer в режиме несовместимости.
//padding-box - Свойства width и height включают в себя значения полей, но не отступов (margin) и границ (border). 

//font-size, font-family, font-style, font-weight, color, text-align, text-transform, text-indent, line-height, letter-spacing, word-spacing, white-space, direction и другие.
//Также к наследуемым свойствам относятся list-style, cursor, visibility, border-collapse и некоторые другие. Но они используются значительно реже.


//? CSS селекторы ====================================================================================================//
/*
CSS селекторы     https://htmlbase.ru/article/css-selektory

Типы селекторов

Универсальный селектор ‘*’ Указывает на все элементы на странице
Селекторы тегов ‘body, div, p, ...’
Селектор по классу ‘.class-name’
Селектор по идентификатору ‘#id-name’  Имя идентификатора должно быть уникальным на странице!   ( #block { } )

Селекторы по атрибуту ‘p[class]’
p[class="text"] { } все параграфы у которых указан только один класс с именем ‘text’
p[class~="text"] { } все параграфы у которых в названии класса есть слово 'text'
p[class^="text"] { } все параграфы у которых класс ‘text’ указан первый или первый с префиксом ‘text-’
p[class$="text"] { } все параграфы у которых класс ‘text’ указан последний
p[class|="text"] { } все параграфы у которых указан только один класс с именем ‘text’ или с префиксом ‘text-’
p[class*="text"] { } все параграфы у которых в названии класса есть подстрока ‘text’
Если добавить символ 'i' перед закрывающейся скобкой, то значение атрибута сравнивается без учета регистра. 
a[href="link" i] { } все ссылки у которых указан атрибут href=”link”, в котором ссылка может быть в любом регистре. * Не работает в IE

Комбинированные селекторы  https://doka.guide/css/combined-selectors/
Можно указать сразу несколько селекторов без пробелов чтобы получить элемент по нескольким критериям.
p.text#text { }все параграфы у которых указан класс и идентификатор с именем ‘text’

Отношение селекторов
.wrapper .block { } все элементы с классом ‘block’ являющееся потомками элемента с классом ‘wrapper’
.wrapper > .block { } все элементы с классом ‘block’ являющееся непосредственными потомками элемента с классом ‘wrapper’
.wrapper ~ .block { } все элементы с классом ‘block’, которые расположенные после элемента с классом ‘wrapper’ на том же уровне
.wrapper + .block { } первый элемент с классом ‘block’, который расположен после элемента с классом wrapper на том же уровне

Выбор псевдоэлемента
Для выбора псевдоэлемента используется ::
selector::pseudo-element { }
p::before { } задать стили для псевдоэлемента before у параграфа

Выбор псевдокласса
Для выбора псевдокласса используется :
div:first-child { } задание стилей для первого потомка div
div:hover { } задание стилей для div при наведении

//? Псевдоклассы ====================================================================================================//

Селектор:Псевдокласс { параметры стиля }

	:hover Срабатывает при наведении на элемент, часто применяется применяется как для ссылок так и для любого другого элемента.
	:active Срабатывает при нажатии на элемент. В основном применяется к ссылкам и кнопкам.
	:visited Срабатывает для посещенных ссылок
	:focus Срабатывает при получении элементом фокуса. Часто применяется к елементам форм. Например инпутам.
	:first-child Обращение к первому элементу в блоке
	:last-child Обращение к последнему элементу в блоке
	:nth-child(порядковый номер элемента) Обращение к конкретным элементам в блоке
	odd - Обращается к элементам с нечётными номерами
	even - Обращается к элементам с чётными номерами

	//? Псевдоэлемент ====================================================================================================//
	
	Псевдоэлементы – это селекторы, которые определяют область элементов, которая изначально отсутствует в дереве документа. Эта область создается искусственно с помощью CSS.
	
	:first-line задает стиль первой строки форматированного текста. 
	Длина этой строки зависит от многих факторов, таких как используемый шрифт,размер окна браузера, ширина блока, языка и т.д. 
	В правилах стиля допустимо использовать только свойства, относящиеся к шрифту, изменению цвета текста и фона.
 
	:first-letter определяет стиль первого символа в тексте элемента, к которому добавляется. 
	К этому псевдоэлементу могут применяться только стилевые свойства, связанные со свойствами шрифта, полями, отступами, границами, цветом и фоном.
 
	:before применяется для отображения желаемого контента до содержимого элемента, к которому он добавляется. Работает совместно со свойством content. 
	При добавлении :before к блочному элементу, значение свойства display может быть только: block, inline, none, list-item. Все остальные значения будут трактоваться как block.
	При добавлении :before к встроенному элементу, display ограничен значениями inline и none. 
	Все остальные будут восприниматься как inline.
 
	Псевдоэлемент, который используется для вывода желаемого текста после содержимого элемента, к которому он добавляется.
	Псевдоэлемент :after работает совместно со свойством content.

	:after к блочному элементу, значение свойства display может быть только: 
	block, inline, none, list-item. Все остальные значения будут трактоваться как block.
	При добавлении :after к встроенному элементу, display ограничен значениями inline и none. Все остальные будут восприниматься как inline.
 
	::-ms-clear {} Задаёт стиль кнопки для очистки текстового поля. Исходно эта кнопка не видна, она появляется в правой части поля только при вводе текста.Только IE (интернет эксплоуер) 
	::-moz-focus-inner{} Задаёт стиль внутренней части элемента Только FireFox


//? Условия медиазапросов (@media) ====================================================================================================//

Тип устройства:
all 	Подходит для всех типов устройств.
print 	Предназначен для страничных материалов и документов, просматриваемых на экране в режиме предварительного просмотра печати.
screen 	Предназначен в первую очередь для экранов цветных компьютерных мониторов.
speech 	Предназначен для синтезаторов речи.

Характеристики устройства:
width Проверяет ширину области просмотра. Значения задаются в единицах длины, px, em и т.д., например, (width: 800px). 
Обычно для проверки используются минимальные и максимальные значения ширины.

min-width Применяет правило если ширина области просмотра больше значения, указанного в запросе, max-width — ширина области просмотра меньше значения, указанного в запросе.

height 	Проверяет высоту области просмотра. Значения задаются в единицах длины, px, em и т.д., например, (height: 500px). 
Обычно для проверки используются минимальные и максимальные значения высоты.

min-height      Применяет правило если высота области просмотра больше значения, указанного в запросе, 
max-height — высота области просмотра которого меньше значения, указанного в запросе.

aspect-ratio   Проверяет соотношение ширины к высоте области просмотра. 
Широкоэкранный дисплей с соотношением сторон 16:9 может быть помечен как (aspect-ratio: 16/9).

min-aspect-ratio проверяет минимальное соотношение, 
max-aspect-ratio — максимальное соотношение ширины к высоте области просмотра.

orientation   Проверяет ориентацию области просмотра. Принимает два значения: (orientation: portrait) и (orientation: landscape).

resolution    Проверяет разрешение экрана (количество пикселей). 
Значения также могут проверять количество точек на дюйм (dpi) или количество точек на сантиметр (dpcm), например, (resolution: 300dpi).

min-resolution проверяет минимальное разрешение экрана, 
max-resolution — максимальное.

color     Проверяет количество бит на каждый из цветовых компонентов устройства вывода. 
Например, (min-color: 4) означает, что экран конкретного устройства должен иметь 4-битную глубину цвета.

min-color проверяет минимальное количество бит, 
max-color — максимальное количество бит.

color-index     Проверяет количество записей в таблице подстановки цветов. 
В качестве значения указывается положительное число, например, (color-index: 256).

min-color-index проверяет минимальное количество записей, 
max-color-index — максимальное количество записей.

monochrome     Проверяет количество битов на пиксель монохромного устройства. 
Значение задается целым положительным числом, например, (min-monochrome: 8).

min-monochrome проверяет минимальное количество битов, 
max-monochrome — максимальное количество битов.

-webkit-device-pixel-ratio   Задаёт количество физических пикселей устройства на каждый CSS-пиксель.


//? Единицы измерения CSS - PX, EM, REM, %, VW, VH, VMIN, VMAX, FR, EX, CH+++ ====================================================================================================//

https://fls.guru/css-units.html

Абсолютная единица - не зависит от значений других свойств. Ее можно назвать еще фиксированной или окончательной.
Относительная единица - зависит от того или иного значения других свойств.

	PX - пиксели - абсолютная (фиксированная) единица. Значение заданное в пикселях (px), четкое и понятное.
Как правило, в макетах дизайна мы видим размеры именно в пикселях. 
Поэтому, используя эту единицу мы легко можем переносить данные в код с точностью пиксель перфект. Это когда макетные размеры совпадают с версткой на все 100%.
Остальные единицы, так или иначе пересчитываются браузером все равно в пиксели.
Пиксели могут быть дробными, например размер можно задать в 16.5px.
Преимущества: Чёткость, понятность, простота использования. Подходит для начинающих.
Недостатки: По сравнению с другими, относительными единицами это усложняет нам работу при адаптиве, а также снижает доступность нашей верстки, запрещая пользователю менять настройки в браузере

	EM – относительна размеру шрифта Относительная единица. Размер формируется относительно текущего или унаследованного размера шрифта (font-size).
1em равен значению font-size.
Как мы знаем, свойство размера шрифта font-size наследуется потомками. Поэтому, указывая тот или иной размер в EM нужно четко понимать какой размер шрифта влияет на данный элемент.
Как и пиксели, значение EM можно указывать дробные.
Преимущества: относительность EM позволяет на порядок уменьшить кол-во действий при адаптивной верстке. 
Не ограничивает пользователя в настройках браузера. Отлично подходит для указания размеров зависящих от размера шрифта. Также используется в медиа запросах.
Недостатки: по сравнению с PX, работать с EM более сложно, ведь для переноса данных из макета в единицы в EM требуются вычисления

	REM - относительна размеру шрифта браузера Относительная единица. Размер формируется относительно размера шрифта (font-size) в теге <html> или браузера по умолчанию.
1rem равен значению font-size в теге <html> или браузера по умолчанию.
Можно указывать дробные числа, например 1.5rem
Преимущества: Относительность REM позволяет на порядок уменьшить кол-во действий при адаптивной верстке. 
Не ограничивает пользователя в настройках браузера. Более простое использование. Отлично подходит для указания размеров шрифтов.
Недостатки: По сравнению с PX, работать с REM более сложно, ведь для переноса данных из макета в единицы в REM требуются вычисления, но проще чем с EM.

	% - проценты от ...  Относительная единица. Можно указывать дробные числа, например 10.5%. Разные CSS свойства вычисляют процент относительно разных значений:
Ширина width - относительно ширины родительного элемента
Высота height - относительно высоты родительного элемента, но только если у него задана высота либо это флекс или грид элемент.
При относительном позиционировании (position: relative; + top left bottom right) нужны те же условия.
Для абсолютно позиционированных объектов - относительно высоты родительского элемента. При этом, задавать высоту родителю не обязательно.
Отступы padding \ margin - относительно ширины родительного элемента, даже если задаются вертикальные отступы.
transform: translate(x, y) - относительно ширины \ высоты самого объекта к которому применено свойство.
font-size и line-height - относительно размера свойства font-size
Преимущества: Относительность процентов позволяет на порядок уменьшить кол-во действий при адаптивной верстке. 
Не ограничивает пользователя в настройках браузера. Отлично подходит для построения относительных конструкций и позиционирования объектов.
Недостатки: Требуют хорошего знания теории и четкого понимания - процент от чего вычислятестя в тот или иной момент

	VW, VH, VMIN, VMAX - относительно окна (вьюпорта) браузера
Все они так или иначе работают относительно окна браузера, так называемого вьюпорта.
Вьюпорт, простыми словами, это вот эта рамка через которую мы просматриваем сайт.
Итак VW работает относительно ширины вьюпорта, VH относительно высоты вьюпорта.
VMIN - относительно наименьшего значения из (VW, VH). VMAX - относительно наибольшего значения из (VW, VH).
100vw равно ширине окна браузера (вьюпорта), 100vh равно высоте окна браузера (вьюпорта).
100wmin равно наименьшему из (vw, vh), 100vmax равно наибольшему из (vw, vh)
Преимущества: Относительность VW, VH, VMIN, VMAX позволяет на порядок уменьшить кол-во действий при адаптивной верстке. 
Не ограничивает пользователя в настройках браузера. Можно привязаться к размерам вьюпорта, что позволяет строить отзывчивые свойства.
Недостатки: Сложность в использовании. Нужно обладать хорошими знаниями адаптивной верстки и возможностей CSS. 
На мобильных устройствах, при работе на всю высоту вьюпорта (100vh), требуются дополнительные действия на JS.

	FR, EX, CH, MM, CM, PT, PC - прочие единицы
FR - единица измерения в модуле GRID. Указавает какую часть (фрагмент) должен занимать тот или иной грид-элемент. 
Значения могут быть дробными, например 0.5fr. Отлично работает с отступами gap
EX - единица работающая относительно размера латинского символа "x" (прописная). Используется редко
CH - единица работающая относительно размера символа "0" (ноль). Используется редко
Единицы MM, CM, PT, PC являются производными от пикселя и уже не используются

	Формулы конвертации значений из PX в относительные единицы:
из PX в EM - значение в PX поделить на значение font-size (текущее или унаследованное)
из PX в REM - значение в PX поделить на значение font-size указанное для тега HTML (если не указано то на 16)
из PX в % - значение в PX поделить на значение относительно которого высчитывается процент и умножить на 100