// Заголовки, общие БЄМ блоки и проче...

// title ====================================================================================================//

.title {
	@include adaptiveValue("font-size", 40, 30);
	font-weight: 700;
}

// button ====================================================================================================//

.button {
	border-radius: 6px;
	background-color: $red;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.3s ease 0s;

	&:hover {
		background-color: #A90100;
	}
}


//* underline ====================================================================================================//

.underline {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 50%;
		right: 50%;
		width: 0;
		height: 1px;
		background-color: $gray;
		transition: all 0.2s ease 0s;
	}

	&:hover::after {
		width: 100%;
		left: 0%;
		right: 0;
	}
}


//? slider =================//

.slider-content {
	position: relative;

	.slick-arrow {
		position: absolute;
		top: -88px;
		right: 60px;
		height: 48px;
		width: 48px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 0px #8b8b8b;
		transition: all 0.3s ease 0s;
		color: transparent;
		user-select: none;
		background-image: url('../img/icons/arrow-prev.png');
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			background-color: $red;
		}
	}

	.slick-arrow.slick-next {
		transform: rotate(180deg);
		right: 0px;
	}
}


// input =================//
input {
	height: 65px;
	padding: 10px;
	padding-left: 22px;
	outline-color: $red;
	@include adaptiveValue("font-size", 26, 20);
}